* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Josefin Sans', sans-serif;

}

html {

}

@media(min-width: 767px){
	.navbar {
		padding: 20px 0;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}
}

.top-nav-collapse {
	padding: 0;
}

.navbar-default {
	background-color: red;
}


.row {
	margin-left: -15px;
	margin-right: -15px;

}


.navbar-default .navbar-brand {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 45px;
	font-weight: 400;	
}

.navbar-default {
	background-color: red;
	
}

.navbar-default .navbar-nav {
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}







.home-section {
	height: 100%;
	padding-top: 150px;
	text-align: center;
	background: #fff;
}

.services-section {
	height: 100%;
	padding-top: 150px;
	text-align: center;
	background: #ccc;
}

.about-section {
	height: 100%;
	padding-top: 150px;
	text-align: center;
	background: #fff;
}

.works-section {
	height: 100%;
	padding-top: 150px;
	text-align: center;
	background: #ccc;
}

.contact-section {
	height: 100%;
	padding-top: 150px;
	text-align: center;
	background: #fff;
}












