*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

  -webkit-filter: grayscale(1) blur(4px);
}

*:hover {
  -webkit-filter: none;
}

html {
	height: 100%;
}

body{
	height: 100%;

}

section {
	padding: 100px 0;
}


p {
	font-family: 'Josefin Sans', sans-serif;
	
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 20px;
	margin-bottom: 10px;

}

h2{
	font-size: 30px;
	color: #ffc551;
}

h3{
	font-size: 24px;
	color: #9db6c3;
	font-weight: 300;
}

h4 {
	color: #1e3846;
}



.text-center {
	margin-bottom: 40px;
}


@media(min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media(min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media(min-width: 768px) {
	.container {
		width: 750px;
	}
}


.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
}



/* ----------NAVBAR-------------*/

.row {
	margin-left: -15px;
	margin-right: -15px;

}

.navbar-fixed-top {
	z-index: 1000
}


.navbar-default .navbar-brand {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 45px;
	font-weight: 400;	
}

.navbar-default .navbar-brand strong {
	color: #ffc551;
}

.navbar-default .navbar-brand span {
	color: #9db6c3;
}

.navbar-default .navbar-nav li a {
	color: #9db6c3;
	text-decoration: none;
}

.navbar-default .navbar-nav li a:hover{
	color: #ffc551;
	background-color: transparent;
}

.navbar-default .navbar-nav .active a{
	color: #1e3846;
	background-color: #ffc551;
}

.navbar-default .navbar-nav .active a:focus {
	outline: none;
}

.navbar-default .navbar-nav .active a:hover {
	color: #1e3846;
	background-color: #ffc551;
}

.top-nav-collapse {
	padding: 0;
}

.navbar-default {
	background-color: #324a57;
	border-color: #ffc551;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
}


.navbar-default .navbar-nav  {
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}


@media(min-width: 767px) {
	.navbar {
		padding: 20px 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;

	}
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;

}

.navbar-toggle .icon-bar {
	display: block;
	width: 25px;
	height: 2px;
	border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffc551;
}

/* ---------- NAVBAR -------------*/


/* ---------- HEADER -------------*/

.carousel {
	position: relative;
	
}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.slide1 .slide2 {
	vertical-align: middle;
	min-height: 560px;
	background-size: cover;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.carousel.carousel-fade .item {
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-ms-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	transition: opacity 1s linear;
	opacity: 0.5;
}

.carousel.carousel-fade .active.item {
	opacity: 1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0)
}



header .titulos{
	position: absolute;
	right: 0;
	left: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	margin-top: 300px;
	margin-bottom: 60px;
	
}



.titulos mark {
	margin-top: 150px;
	color: #ffc551;
	font-weight: 200;
	padding: 14px 14px;
	background: rgba(16, 41, 54, 0.8);
	margin-bottom: 50px;
}

/* --------- HEADER ------------*/



/* ----------  SERVICES  -------------*/

#services {
	background-color: #000;
}

.iconbox{
	background: #4C798C;
	text-align: center;
	padding: 20px 20px;
	margin: 0 0 20px;
}

.iconbox-icon {
	margin: 0 0 15;
	font-size: 32px;
	color: #000;
}

.iconbox-tittle {
	margin: 0 0 15px;
	padding: 0;
}

.iconbox h4 {
	color: #000;
} 

.iconbox p {
	color: #000;
}

#services p {
	font-size: 16px;
	color: #000;
}

#services span {
	color: #000;
}

/* ----------  SERVICES  -------------*/


/* ----------  ABOUT  -------------*/

#about {
	height: 60%;
	background: url(photographer.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;	
}

#about h2 {
	color: #ffc551;
}

#about h3  {
	color: #9db6c3;
	font-weight: 300;
}

/* ----------  ABOUT  -------------*/


/* ----------  PORTFOLIO  -------------*/

#works {
	background-color: #000;
}

.sub-tittle {
	color: #9db6c3;
}

.hovereffect {
	max-width: 100%;
	height: 100%;
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	margin-top: 20px;
}

.hovereffect .overlay {
	position: absolute;
	overflow: hidden;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	border-bottom: 1px solid #ffc551;
	border-top: 1px solid #ffc551;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s transform 0.35s;
	-webkit-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale3d(0,1);
}

.hovereffect:hover .overlay {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}

.hovereffect:hover img {
	filter: brightness(0.3);
}

.hovereffect h2 {
	text-align: center;
	position: relative;
	font-size: 17px;
	background-color: transparent;
	color: #ffc551;
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
	color: #ffc551;
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
	opacity: 1;
	color: #333 opacity 100%;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* ----------  PORTFOLIO  -------------*/



/* ---------- CONTACT -------------*/

#contact {
	height: 100%;
	background: url(jumb5.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
}

#contact h2 {
	color: #ffc551;
}

#contact h3 {
	color: #1e3846;
	font-weight: 300;
}

 button {
	background-color: #ffc551;
}

/* ---------- CONTACT -------------*/



/* ---------- FOOTER -------------*/

footer {
	background: #324a57;
	color: #fff;
	align-items: center;
	font-weight: 100;
	font-size: 14px;
	padding: 10px 0;
}

a .fa-stack {
	color: #ffc551;
}

.fa-inverse {
	color: #1e3846;
}

/* ---------- FOOTER -------------*/




/*  --------- SCROLL UP --------------*/








